* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: mamelon, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-swicher{
  width: 100vw;
  height: 100vh;
  background-image: url(../images/logo1.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

header{
  padding: 0 180px;
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.header_nav{
  height: 100px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}

.header_nav p{
  font-size: 24px;
  font-weight: bold;
  color: #383971;
}

.header_nav ul{
  display: flex;
  width: 50%;
  padding-right: 10px;
}

.header_nav a{
  font-size: 20px;
  font-weight: bold;
  color: #383971;
  text-decoration: none;
}

.footer_nav{
  height: 80px;
  line-height: 80px;
}

.footer_nav p{
  font-size: 24px;
  font-weight: bold;
  color: #FEF5E4;
}

.footer_nav ul{
  display: flex;
  justify-content: center;
}

.footer_nav a{
  font-size: 20px;
  font-weight: bold;
  color: #FEF5E4;
  text-decoration: none;
}


li{
  text-decoration: none;
  padding: 0 20px;
  
}



#first{
  text-align: center;
  color: #383971;
}

.first-text{
  display: block;
  justify-content: center;
  margin: 100px 500px;
}

.first-text h1{
  font-size: 60px;
}

.first-text h2{
  text-align: left;
  margin-top: 60px;
}

.first-text p{
  text-align: left;
  margin-top: 60px;
}


.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 450px;
  padding-top: 90px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  /*
  background-image: url(../images/about_back.png);
  background-size: cover;
  */
  background-color:#FEF5E4;
  border: #FFD625;
  border-radius: 10px;
  color: #383971;
}



.about img{
  width: 200px;
  height: 200px;
}

.about-text{
  margin: 0 auto;
  width: 500px;
}

.about-text h1{
  font-size: 60px;
}

.about-text h2{
  text-align: left;
  margin-top: 20px;
}

.about-text p{
  text-align: left;
  margin-top: 10px;
}


.fanfun_contents{
  display: flex;
  justify-content: space-between;
  margin-right: 130px;
  margin-left: 130px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 10px;
  background-color: #FEF5E4;
  color: #383971;
}



.food h1{
  text-align: center;
  font-size: 60px;
}

.food_contents{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.food img{
  border-radius: 10px;
  width: 250px
}

.food a{
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

.food a:hover {
  box-shadow:10px 10px 5px #cccccc;
  }


.cloth h1{
  text-align: center;
  font-size: 60px;
}

.cloth_contents{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cloth img{
  border-radius: 10px;
  width: 250px
}

.cloth a{
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

.cloth a:hover {
  box-shadow:10px 10px 5px #cccccc;
  }



.slick-initialized .slick-slide{
  display: flex;
  align-items: center;
  bottom: 3px solid #dcdcdc;
  height: 300px;
  border-radius: 10px;
  margin: 50px;
  background-color: bisque;
}



.slide-img{
  margin: 50px;
  height: 350px;
  border-radius: 10px;
}

.slide-box{
  padding-left: 30px;
  width: 60%;
}

.slide-title{
  font-size: 36px;
}

.slide-tag{
  background-color: #f05454;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
}



/*食FANFUN*/

.body_food{
  background-image: url(../images/orange_back.png);
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #325A8C;
  display: block;
  order: -1;
}
.tab-label {
  color: #FEF5E4;
  background: #FEF5E4;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content_food {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  background-color: #FE522C;
  border-radius: 10px;
}
.tab-switch:checked+.tab-label {
  background: #383971;
}
.tab-switch:checked+.tab-label+.tab-content_food {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}

.fanfun_map{
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.fanfun_map h1{
  color: #383971;
  font-size: 60px;
  text-align: center;
}

.body_food h1{
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
  color: #FEF5E4;
  background-color: #FE522C;
  border-radius: 10px;
}

.fanfun_map h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #FEF5E4;
}

.map_long img{
  border-radius: 10px;
}

iframe{
  width: 1050px;
  height: 700px;
  border-radius: 10px;
}


.food_shop{
  display: block;
  margin-bottom: 100px;
}


.food_1{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
}


.fanfun_food{
  display: flex;
  width: 800px;
  height: 400px;
  background-color: #FEF5E4;
  border-radius: 10px;
  border-color:#FE522C;
  border-width: 20px;
}

.food_img{
  margin: 10px;
  width: auto;
  border-radius: 10px;
}

.fanfun_text{
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.point{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.point_text{
  margin-bottom: 20px;
}

.point img{
  width: 30px;
  margin-right: 10px;
}

.fanfun_icon{
  display: flex;
  margin-top: 20px;
}

.fanfun_icon img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.fanfun_icon p{
  margin: 0;
}

.food_footer{
  background-color: #FE522C;
  text-align: center;
}

.food_footer p{
  background-color: #383971;
  color: #FEF5E4;
}


/*服FANFUN*/
.body_cloth{
  background-image: url(../images/yellow_back.png);
}


.tab-content_cloth {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  background-color: #FFD625;
  border-radius: 10px;
}
.tab-switch:checked+.tab-label {
  background: #383971;
}
.tab-switch:checked+.tab-label+.tab-content_cloth {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.body_cloth h1{
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
  color: #FEF5E4;
  background-color: #FFD625;
  border-radius: 10px;
}

.cloth_footer{
  background-color: #FFD625;
  text-align: center;
}

.cloth_footer p{
  background-color: #383971;
  color: #FEF5E4;
}



